﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Person";
}
<h1 class="display-4">Add a Person</h1>
<hr />
<form method="get" action="AddPerson">
    <label for="username">Username:</label><br />
    <input type="text" id="uname" name="uname" /><br />
    <label for="email">Email:</label><br />
    <input type="text" id="email" name="email" /><br />
    <label for="password">Password:</label><br />
    <input type="password" id="password" name="password" /><br />
    <button type="submit">Submit</button>
</form>