﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<DataLayer.Models.Person>
<h1>Detail of Person</h1>
@if (Model.Count() > 0)
{
    <h2 class="display-4">@Model[0].username</h2>
    <h3>Password: @Model[0].userpassword</h3>
    <h3>Email: @Model[0].useremail</h3>
    <h3>Created On: @Model[0].createdon</h3>
}
else
{
    <h2>Something is wrong lmao</h2>
}