﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DataLayer.Data.PagedList<DataLayer.Models.Person>
@{
    ViewData["Title"] = "Index of Person";
}
<div class="text-center">
    <h1 class="display-4">List of Person</h1>
    <hr />
    <table class="table">
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Created On</th>
            <th>Action</th>
        </tr>
        @foreach(var person in Model)
        {
            <tr>
                <td>@person.username</td>
                <td>@person.userpassword</td>
                <td>@person.useremail</td>
                <td>@person.createdon</td>
                <td>
                    <form method="get" action="person/detail">
                        <button type="submit" id="username" name="username" value="@person.username">Detail</button>
                    </form>
                </td>
                <td>
                    <form method="get" action="person/update">
                        <button type="submit" id="username" name="username" value="@person.username">Update</button>
                    </form>
                </td>
                <td>
                    <form method="get" action="person/delete">
                        <button type="submit" id="username" name="username" value="@person.username">Delete</button>
                    </form>
                </td>
            </tr>
        }
        <tr>
            <td>
                <form method="get" action="">
                    <button type="submit" id="PageNumber" name="PageNumber" value="@(Model.HasPrevious ? Model.CurrentPage-1 : 1)">Prev</button>
                </form>
            </td>
            <td>
                <form method="get" action="">
                    <button type="submit" id="PageNumber" name="PageNumber" value="@(Model.HasNext ? Model.CurrentPage+1 : 1)">Next</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form method="get" action="person/add">
                    <button type="submit">Add Person</button>
                </form>
            </td>
        </tr>
    </table>
</div>
