﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DataLayer.Models.Person
@{
    ViewData["Title"] = "Update Person";
}
<h1 class="display-4">Update a Person</h1>
<hr />
<form method="get" action="UpdatePerson">
    <label for="username">Username:</label><br />
    <input type="text" value="@Model.username" disabled /><br />
    <label for="email">Email:</label><br />
    <input type="text" id="email" name="email" value="@Model.useremail" /><br />
    <label for="password">Password:</label><br />
    <input type="password" id="password" name="password" value="@Model.userpassword" /><br />
    <button type="submit">Submit</button>
    <input type="hidden" id="uname" name="uname" value="@Model.username" /><br />
</form>
