﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DataLayer.Models.Person;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a welcome page. And also where I put an example of random person here</p>
    <hr />
    <h3>Username: @Model.username</h3>
    <h3>Password: @Model.userpassword</h3>
    <h3>Email: @Model.useremail</h3>
    <h3>Created On: @Model.createdon</h3>
</div>
